body {
  color: #444;
  background: #fefcf3;
}

s {
  color: var(--primary);
}

.header-image {
  display: none;
}

#hero-area {
  background-image: url(https://images.unsplash.com/photo-1598928506311-c55ded91a20c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);
  background-color: grey;
  background-blend-mode: multiply;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 80px;
}

.navbar-area {
  background-color: #364543 !important;
  margin-top: 0 !important;
}

h2.amount {
  font-size: 40px !important;
}

.primary-btn:hover {
  color: #364543;
}

.contact-item {
  width: auto;
}

.btn-up {
  margin-bottom: 3rem;
}

.map-container {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sidebar-social>.lni {
  font-size: 100px !important;
}

#blog {
  display: none !important;
}


.lni-facebook,
.lni-instagram-original,
.lni-tiktok,
.wa-btn {
  color: var(--primary) !important;
}

@media (max-width: 736px) {
  .navbar-area {
    margin-top: 0 !important;
    height: 8rem;
  }

  #hero-area {
    margin-top: 4rem;
  }

  .sidebar-social {
    margin-left: 6rem;
    margin-top: 1rem;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px),
(max-width: 767px) {
  .navbar-area.navbar-nine .navbar .navbar-collapse {
    display: none !important;
  }
}
